@mixin font($fw, $fs, $ff: $regular-font, $lh: $lh-base) {
  font: $fw #{$fs}/#{$lh} $ff;
}

@mixin font-size($size: 16px, $height: $size) {
  line-height: $height / $size;
  font-size: $size;
}

@mixin text-cut($fontSize, $lines, $lineHeight: 1.2) {
  display: block;
  display: -webkit-box;
  font-size: $fontSize + px;
  line-height: $lineHeight;
  max-width: 100%;
  -webkit-line-clamp: $lines;
  height: ($fontSize * $lineHeight * $lines) + px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: auto;
}

@mixin transition($prop: all, $duration: 0.25s, $easing: ease-out) {
  transition-duration: $duration;
  transition-property: $prop;
  transition-timing-function: $easing;
}
