@import "src/styles/init";

.container {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  justify-content: space-around;
}

.nav {
  display: flex;

  & > a {
    margin: auto 10px;
    color: #fff;
  }
}

.aside {
  & > a {
    color: #fff;
  }
}
