@import "src/styles/init";

.container {
  position: relative;
  margin-bottom: 30px;
}

.paginator {
  display: flex;
  padding-bottom: 20px;
  overflow-x: hidden;

  button {
    margin-right: 10px;

    &.isActive {
      font-weight: 700;
      background-color: #aeaeae;
    }

    &.firstBtn {
      position: relative;
      margin-right: 30px;
      &::after {
        @include absolute(0, auto, 0, 30px);
        content: "...";

        font-weight: 700;
      }
    }

    &.lastBtn {
      position: relative;
      margin-left: 30px;
      &::after {
        @include absolute(0, auto, 0, -30px);
        content: "...";

        font-weight: 700;
      }
    }
  }
}

.list {
  position: relative;
  display: block;
  opacity: 1;
}
